{% include 'forum/header.html' %}
{% load static %}

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<nav style="--bs-breadcrumb-divider: '>'; padding-left: 10px; width: 100%;" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Главная</a></li>
    <li class="breadcrumb-item active" aria-current="page">Создание записи</li>
  </ol>
</nav>

<body style="padding-top: 15px; ">
    <table style="width: 100%;">
        <form class = 'form-group' style="width: 100%;" method="post" enctype="multipart/form-data" onsubmit="myButton.disabled = true; return true;">
            {% csrf_token %}
            {% for field in form %}
                <div class="" style="padding-left: 10px; padding-right: 10px; padding-top: 25px; padding-bottom: 25px;">
                    <span class="input-group-text" id="inputGroup-sizing-default" style="">{{ field.label_tag }} <a style="padding-left: 10px;">{{ field }}</a></span>
                </div>
            {% endfor %}
            <button style="width: 100%; text-align: center;" class = 'btn btn-primary' type="submit" name='myButton'>Создать</button>
        </form>
    </table>
</body>