<p>
  Общее положение.
  Заходя на наш сайт пользователь автоматически принимает и соглашается с нижеперечисленными (включая это) правилами и обязуется их выполнять и следовать им. Незнание правил не освобождает Вас от ответсвенности!
  Толкование правил сайта осуществляется лишь администратором. Иные попытки истолковать действующие правила признаются некорректными.
  Сайт является бесплатным и не дает гарантий на стабильную работу, то есть предоставляется таким, как есть, и не дает никаких гарантий. В случае технических ошибок, или удаления каких-либо данных не несет ответственности за потерю каких-либо данных.
  Решения администратора имеет большую силу, чем правила проекта, а так-же, является окончательным и не подлежит обсуждению.
  Администрация вправе делать все, что угодно, даже если это противоречит правилам.
  Запрещена неуместная критика действий администратора.

  Коммуникация.
  Запрещены обманы пользователей, администрации в любом проявлении.
  Запрещено писать посты, вводящие в заблуждение.
  Запрещено разглашать конфиденциальную информацию, за исключением, если она принадлежит Вам.
  Запрещено: притворство, сильный кибербуллинг других людей в любых смыслах и подтекстах.
  Запрещено подначивать других пользователей на нарушение правил.
  Запрещен любой вид коммерческой деятельности в тех случаях, когда это касается реальности. Если вы хотите что-то прорекламировать - сначала спросите у меня.
  Запрещается NSFW контент в любых проявлениях.
  Запрещается проводить в чате необоснованные дискуссии; обсуждать непредназначенный для несовершеннолетних контент; разжигать расовую, религиозную, межнациональную рознь;
  обсуждать политические темы, антисоциальные лозунги.
  Запрещен спам, а так-же спам символами.
  Запрещена реклама в любых подтекстах
  Запрещено провоцировать пользователей на открытый конфликт
  Запрещено угрожать, шантажировать пользователей.

  Запрещенные действия:
  Обход защиты от DDoS атак.
  Взлом (любое действие с веб-ресурсом или хостингом, не запланированное администратором)

  Все, о чем тут не написаное приветсвуется и разрешается, но если вы не уверены, можете спросить у меня.
</p>